@model IEnumerable<Plantilla.Models.Gallery>

@{
    Layout = "~/Views/Shared/_LayoutColaboradores.cshtml";
}

<h2>Gallerys</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table" width="100%" border="1">
    <thead style="background:#808080" align="center">
        <tr>
            <th>
                Description
            </th>
            <th>
                <strong>Image #1</strong>
            </th>
            <th>
                <strong>Image #2</strong>
            </th>
            <th>
                <strong>Image #3</strong>
            </th>
            <th>
                <strong>Image #5</strong>
            </th>
            <th>
                <strong>Image #5</strong>
            </th>
            <th>
                <strong>Image #6</strong>
            </th>
            <th>
                <strong>Image #7</strong>
            </th>
            <th>
                <strong>Image #8</strong>
            </th>
            <th>
                <strong>Image #9</strong>
            </th>
            <td colspan="3" >Elija una Accion a Realizar</td>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.descripcion)
    </td>
    <td>
        @if (item.image1 == null)
        {
            <strong>Not Found</strong>
        }
        else
        {
            <img width="50" height="50" src="@Url.Action("convertirImagen", "Gallery", new {idGallery = item.idGallery})" />
        }
    </td>
    <td>
        @if (item.image2 == null)
        {
            <strong>Not Found</strong>
        }
        else
        {
            <img width="50" height="50" src="@Url.Action("convertirImagen2", "Gallery", new {idGallery = item.idGallery})" />
        }
    </td>
    <td>
        @if (item.image3 == null)
        {
            <strong>Not Found</strong>
        }
        else
        {
            <img width="50" height="50" src="@Url.Action("convertirImagen3", "Gallery", new {idGallery = item.idGallery})" />
        }
    </td>
    <td>
        @if (item.image4 == null)
        {
            <strong>Not Found</strong>
        }
        else
        {
            <img width="50" height="50" src="@Url.Action("convertirImagen4", "Gallery", new {idGallery = item.idGallery})" />
        }
    </td>
    <td>
        @if (item.image5 == null)
        {
            <strong>Not Found</strong>
        }
        else
        {
            <img width="50" height="50" src="@Url.Action("convertirImagen5", "Gallery", new {idGallery = item.idGallery})" />
        }
    </td>
    <td>
        @if (item.image6 == null)
        {
            <strong>Not Found</strong>
        }
        else
        {
            <img width="50" height="50" src="@Url.Action("convertirImagen6", "Gallery", new {idGallery = item.idGallery})" />
        }
    </td>
    <td>
        @if (item.image7 == null)
        {
            <strong>Not Found</strong>
        }
        else
        {
            <img width="50" height="50" src="@Url.Action("convertirImagen7", "Gallery", new {idGallery = item.idGallery})" />
        }
    </td>
    <td>
        @if (item.image8 == null)
        {
            <strong>Not Found</strong>
        }
        else
        {
            <img width="50" height="50" src="@Url.Action("convertirImagen8", "Gallery", new {idGallery = item.idGallery})" />
        }
    </td>
    <td>
        @if (item.image9 == null)
        {
            <strong>Not Found</strong>
        }
        else
        {
            <img width="50" height="50" src="@Url.Action("convertirImagen9", "Gallery", new {idGallery = item.idGallery})" />
        }
    </td>
    <td>
        <div class="btn btn-dark-green">
            @Html.ActionLink("Edit", "Edit", new { id = item.idGallery })
            </div>
    </td>
    <td>
        <div class="btn btn-yellow">
            @Html.ActionLink("Details", "Details", new { id = item.idGallery })
        </div>
</td>
    <td>
        <div class="btn btn-danger">
            @Html.ActionLink("Delete", "Delete", new { id = item.idGallery })
        </div>
    </td>
</tr>
    }

</table>
