@model IEnumerable<Plantilla.Models.Tour>
@{
    Layout = "~/Views/Shared/_LayoutColaboradores.cshtml";
}

<h2>Toures Registrados</h2>
@Html.Action("Create", "Tour")
<table class="table">
    <tr>
        <td>
            Descripción
        </td>
        <td>
            Lugar de Salida
        </td>
        <td>
            Check-In
        </td>
        <td>
            Check-Out
        </td>
        <td>
            Alimentación
        </td>
 
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
 
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lugarSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaCheckIn) / @Html.DisplayFor(modelItem => item.horaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaCheckOut) / @Html.DisplayFor(modelItem => item.horaRegreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.alimentacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                <img width="50" height="50" src="@Url.Action("convertirImagen", "Tour", new {idTour = item.idTour})" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { idTour = item.idTour }) |
                @Html.ActionLink("Details", "Details", new { idTour = item.idTour }) |
                @Html.ActionLink("Delete", "Delete", new { idTour = item.idTour })
            </td>
        </tr>
    }

</table>
