@model IEnumerable<Plantilla.Models.Tour>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idTabladestinos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lugarSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCheckIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaCheckOut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alimentacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaSalida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.horaRegreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idGallery)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idTabladestinos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lugarSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCheckIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaCheckOut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alimentacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaSalida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.horaRegreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idGallery)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idTour }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTour }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idTour })
        </td>
    </tr>
}

</table>
