@model Plantilla.Models.Referencia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Referencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descipcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descipcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idReferencia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
