@model Plantilla.Models.Colaborador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Colaborador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CedColaborador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CedColaborador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idiomas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idiomas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nacionalidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nacionalidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.licencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.licencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoColaborador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoColaborador)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idColaborador }) |
    @Html.ActionLink("Back to List", "Index")
</p>
