@model Plantilla.Models.Servicio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descripcionServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcionServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioTotalServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioTotalServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.impuesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.impuesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clientes.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cupon.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cupon.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GestionAdmin.idGestionAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GestionAdmin.idGestionAdmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TablaAtracciones.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TablaAtracciones.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TablaActividades.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TablaActividades.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TablaDestinos.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TablaDestinos.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tour.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tour.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idServicio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
