@model IEnumerable<Plantilla.Models.Transporte>
@{
    Layout = "~/Views/Shared/_LayoutColaboradores.cshtml";
}
@Html.Action("Create", "Transporte")
 
<table class="table">
    <tr>
        <th>
            Tipo
        </th>
        <th>
            Placa
        </th>
        <th>
            Marca
        </th>
        <th>
            Modelo
        </th>
        <th>
            Capacidad
        </th>
        <th>
            Color
        </th>
        <th>
            Foto
        </th>
        <th>
            Chofer
        </th>
        <th>
            Responsable
        </th>
        <td colspan="3">Elija una Accion a Realizar</td>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.tipo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.placa)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.marca)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.modelo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.capacidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.color)
    </td>
    <td>
        <img width="50" height="50" src="@Url.Action("convertirImagen", "Transporte", new {idTransporte = item.idTransporte})" />
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.colaboradorChofer)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.colaboradorResponsable)
    </td>
 
    <td>
        <div class="btn btn-dark-green">
            @Html.ActionLink("Edit", "Edit", new { id = item.idTransporte })
        </div>
    </td>
    <td>
        <div class="btn btn-yellow">
            @Html.ActionLink("Details", "Details", new { id = item.idTransporte })
        </div>
    </td>
    <td>
        <div class="btn btn-danger">
            @Html.ActionLink("Delete", "Delete", new { id = item.idTransporte })
        </div>
    </td>
</tr>
    }

</table>
